.header-logo {
    height: 50px;
    width: auto;
}
.header-hero-wrapper {
    background-color: #1F2937;
}
.header {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}
.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding:0 ;
    gap: 10px;
}
.header-links {
    color: #E5E7EB;
    text-decoration: none;
}
.hero {
    display: flex;
    justify-content: center;
    margin: 100px;
    margin: 100px;
    margin-left: 400px;
    margin-right: 400px;

}
.vince-travel-card {
    align-self: center;
    margin-right: 20px;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}
.hero-text {
    color: #E5E7EB;
}
.sign-up-button {
    background-color:  #3882F6;
    color: #E5E7EB;
    font-weight: 900;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
}